body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-dark {
  margin-right: 2px;
}

.navbar-brand {
  margin-left: 10px;
}

.btnForm {
  display: block;
}

.btn-danger, .btn-warning {
  float: right;
}

.btn-warning {
  margin-right: 3px;
}